In [1]:
import pandas as pd
import numpy as np

## Line chart

In [2]:
def cleaning(df):
    df.loc[df["RussianUkranianWar"] == "< 1", "RussianUkranianWar"] = "0"
    df.loc[df["IsraeliPalestinianWar"] == "< 1", "IsraeliPalestinianWar"] = "0"
    df.loc[df["DrugWar"] == "< 1", "DrugWar"] = "0"

    return df

In [3]:
timeline = pd.read_csv("../csv/timeline_trends.csv")
cleaned = cleaning(timeline)
cleaned.head()

         Week RussianUkranianWar IsraeliPalestinianWar DrugWar
0  2022-01-02                  0                     0       0
1  2022-01-09                  1                     0       0
2  2022-01-16                  3                     0       0
3  2022-01-23                  7                     0       0
4  2022-01-30                  3                     0       0

In [4]:
cleaned.to_csv("../csv/cleaned/timeline_trends_cleaned.csv", index=False)

## Choropleth

In [5]:
def choropleth(df):
    replacements = {
        'United States': 'USA',
        'United Kingdom': 'England',
        'Democratic Republic of Congo': 'Democratic Republic of the Congo',
        'Republic of Congo': 'Republic of the Congo',
        'Tanzania': 'United Republic of Tanzania',
        'Eswatini': 'Swaziland',
        'Guinea-Bissau': 'Guinea Bissau',
        'North Macedonia': 'Macedonia',
        'Serbia': 'Republic of Serbia',
        'Bahamas': 'The Bahamas',
        'Palestine': 'West Bank',
        'Czechia' : 'Czech Republic'
    }
    
    df["Country"] = df["Country"].replace(replacements)

    return df

In [6]:
timeline = pd.read_csv("../csv/map_trends.csv")
cleaned = choropleth(timeline)
cleaned.head()

                    Country RussianUkranianWar IsraeliPalestinianWar DrugWar
0                   Eritrea                91%                    9%     NaN
1           Solomon Islands                79%                   21%     NaN
2          Papua New Guinea                82%                   18%     NaN
3  Central African Republic                90%                   10%     NaN
4                   Liberia                96%                    4%     NaN

In [7]:
cleaned.to_csv("../csv/cleaned/map_trends_cleaned.csv", index=False)