In [3]:
import pandas as pd
import numpy as np

## Drug Seizures

In [4]:
def seizures(df):
    df_cleaned = df.drop(columns=["Region", "Country", "DrugGroup", "DrugName", "Reference year", "msCode"])
    df_cleaned = df_cleaned.groupby("SubRegion", as_index=False)["Kilograms"].sum()
    
    return df_cleaned

In [5]:
csv = pd.read_csv("../csv/drug_seizures.csv")
cleaned = seizures(csv)
cleaned.head(5)

                        SubRegion     Kilograms
0       Australia and New Zealand  3.266503e+05
1                       Caribbean  1.265822e+06
2                 Central America  2.606579e+07
3  Central Asia and Transcaucasia  9.820272e+05
4                     East Africa  4.731681e+06

In [6]:
cleaned.to_csv("../csv/cleaned/seizures_cleaned.csv", index=False)

## Death by drugs

In [17]:
def deaths(df):
    df_cleaned = df.drop(columns=["Code"])
    df_cleaned = df_cleaned.groupby("Year", as_index=False)["DeathRate"].mean()
    
    return df_cleaned

In [18]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = deaths(csv)
cleaned.head(5)

   Year  DeathRate
0  2000   0.841626
1  2001   0.821211
2  2002   0.809973
3  2003   0.775931
4  2004   0.835799

In [19]:
cleaned.to_csv("../csv/cleaned/drug_deaths_cleaned.csv", index=False)