In [2]:
import pandas as pd
import numpy as np

## Line chart

In [3]:
def cleaning(df):
    df.loc[df["RussianUkranianWar"] == "< 1", "RussianUkranianWar"] = "0"
    df.loc[df["IsraeliPalestinianWar"] == "< 1", "IsraeliPalestinianWar"] = "0"
    df.loc[df["DrugWar"] == "< 1", "DrugWar"] = "0"

    return df

In [4]:
timeline = pd.read_csv("../csv/timeline_trends.csv")
cleaned = cleaning(timeline)
cleaned.head()

         Week RussianUkranianWar IsraeliPalestinianWar DrugWar
0  2022-01-02                  0                     0       0
1  2022-01-09                  1                     0       0
2  2022-01-16                  3                     0       0
3  2022-01-23                  7                     0       0
4  2022-01-30                  3                     0       0

In [5]:
cleaned.to_csv("../csv/cleaned/timeline_trends_cleaned.csv", index=False)

## Choropleth

In [6]:
def choropleth(df):
    replacements = {
        'United States': 'USA',
        'United Kingdom': 'England',
        'Democratic Republic of Congo': 'Democratic Republic of the Congo',
        'Republic of Congo': 'Republic of the Congo',
        'Tanzania': 'United Republic of Tanzania',
        'Eswatini': 'Swaziland',
        'Guinea-Bissau': 'Guinea Bissau',
        'North Macedonia': 'Macedonia',
        'Serbia': 'Republic of Serbia',
        'Bahamas': 'The Bahamas',
        'Palestine': 'West Bank',
        'Czechia' : 'Czech Republic'
    }
    
    df["Country"] = df["Country"].replace(replacements)

    return df

In [7]:
timeline = pd.read_csv("../csv/map_trends.csv")
cleaned = choropleth(timeline)
cleaned.head()

                    Country RussianUkranianWar IsraeliPalestinianWar DrugWar
0                   Eritrea                91%                    9%     NaN
1           Solomon Islands                79%                   21%     NaN
2          Papua New Guinea                82%                   18%     NaN
3  Central African Republic                90%                   10%     NaN
4                   Liberia                96%                    4%     NaN

In [8]:
cleaned.to_csv("../csv/cleaned/map_trends_cleaned.csv", index=False)

# Connection Map

In [18]:
conflicts = pd.read_csv("../csv/conflicts.csv")
conflicts.head()

,dyad_id,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,...,start_prec,start_date2,start_prec2,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
0,10006,11447,Ethiopia,Government of Ethiopia,97,NaN,IGLF,1115,NaN,1,...,2,1991-10-10,2,530,NaN,NaN,NaN,530,4,25.1
1,10054,372,Mali,Government of Mali,72,NaN,FPLA,934,NaN,1,...,1,1991-08-29,2,432,NaN,NaN,NaN,432,4,25.1
2,10509,283,DR Congo (Zaire),Government of DR Congo (Zaire),89,"Government of Malawi, Government of South Afri...",APCLS,1200,NaN,2,...,1,2013-02-27,1,490,"510, 553, 560",NaN,NaN,490,4,25.1
3,10509,283,DR Congo (Zaire),Government of DR Congo (Zaire),89,"Government of Malawi, Government of South Afri...",APCLS,1200,NaN,2,...,1,2013-02-27,1,490,"510, 553, 560",NaN,NaN,490,4,25.1
4,10509,283,DR Congo (Zaire),Government of DR Congo (Zaire),89,"Government of Malawi, Government of South Afri...",APCLS,1200,NaN,2,...,1,2020-11-24,1,490,"510, 553, 560",NaN,NaN,490,4,25.1

In [19]:
conflicts = conflicts[conflicts["year"] == 2024]

In [12]:
conflicts.head()

,dyad_id,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,...,start_prec,start_date2,start_prec2,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
16,10589,13646,Kenya,Government of Kenya,91,NaN,Al-Shabaab,717,NaN,1,...,1,2015-07-13,1,501,NaN,NaN,NaN,501,4,25.1
60,11387,223,Myanmar (Burma),Government of Myanmar (Burma),144,NaN,ULA,3051,NaN,1,...,1,2022-08-25,1,775,NaN,NaN,NaN,775,3,25.1
86,11973,299,Syria,Government of Syria,118,"Government of Iran, Government of Russia (Sovi...",Syrian insurgents,4456,Government of Turkey,2,...,1,2011-08-02,1,652,"365, 630",NaN,640,652,2,25.1
141,12102,374,Rwanda,Government of Rwanda,94,NaN,FDLR-FOCA,528,NaN,2,...,1,2022-12-11,1,517,NaN,NaN,NaN,517,4,25.1
145,12287,404,Pakistan,Government of Pakistan,142,NaN,HGB,4102,NaN,2,...,1,2023-11-30,1,770,NaN,NaN,NaN,770,3,25.1

In [20]:
columns_to_keep = ["location", "side_a", "side_b"]
conflicts = conflicts[columns_to_keep]
conflicts.head()

            location                         side_a             side_b
16             Kenya            Government of Kenya         Al-Shabaab
60   Myanmar (Burma)  Government of Myanmar (Burma)                ULA
86             Syria            Government of Syria  Syrian insurgents
141           Rwanda           Government of Rwanda          FDLR-FOCA
145         Pakistan         Government of Pakistan                HGB

In [21]:
conflicts["side_a"] = conflicts["side_a"].str.replace('Government of ', '')
conflicts["side_b"] = conflicts["side_b"].str.replace('Government of ', '')
conflicts.head()

            location           side_a             side_b
16             Kenya            Kenya         Al-Shabaab
60   Myanmar (Burma)  Myanmar (Burma)                ULA
86             Syria            Syria  Syrian insurgents
141           Rwanda           Rwanda          FDLR-FOCA
145         Pakistan         Pakistan                HGB

In [ ]:
def conflicts_cleaning(df):
    replacements = {
        'DR Congo (Zaire)': 'Democratic Republic of the Congo',
        'Myanmar (Burma)': 'Myanmar',
        'Russia (Soviet Union)': 'Russia',
        'Yemen (North Yemen)': 'Yemen',
        'United Kingdom, United States of America': 'England',
    }
    df['side_a'] = df['side_a'].replace(replacements)
    df['side_b'] = df['side_b'].replace(replacements)
    return df

conflicts = conflicts_cleaning(conflicts)

In [24]:
conflicts.to_csv("../csv/cleaned/conflicts_cleaned.csv", index=False)