In [51]:
import pandas as pd
import numpy as np

## Drug Seizures

In [52]:
def seizures(df):
    df_cleaned = df.drop(columns=["Region", "Country", "DrugGroup", "DrugName", "Reference year", "msCode"])
    df_cleaned = df_cleaned.groupby("SubRegion", as_index=False)["Kilograms"].sum()
    
    return df_cleaned

In [53]:
csv = pd.read_csv("../csv/drug_seizures.csv")
cleaned = seizures(csv)
cleaned.head(5)

                        SubRegion     Kilograms
0       Australia and New Zealand  3.266503e+05
1                       Caribbean  1.265822e+06
2                 Central America  2.606579e+07
3  Central Asia and Transcaucasia  9.820272e+05
4                     East Africa  4.731681e+06

In [54]:
cleaned.to_csv("../csv/cleaned/seizures_cleaned.csv", index=False)

## Top 5 countries death by drugs

In [55]:
def top3(df):
    df = df[df["Year"] == 2021]
    df_cleaned = df.drop(columns=["Code"])
    df_cleaned = df_cleaned.groupby("Entity", as_index=False)["DeathRate"].mean()
    df_cleaned = df_cleaned.sort_values("DeathRate", ascending=False).head(3)
    
    return df_cleaned

In [56]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = top3(csv)
cleaned.head()

             Entity  DeathRate
190   United States      31.75
32           Canada      19.22
189  United Kingdom       8.37

In [57]:
cleaned.to_csv("../csv/cleaned/top3_cleaned.csv", index=False)

## Proportion death by drugs

In [58]:
def deaths(df):
    df_cleaned = df.drop(columns=["Code"])
    df_cleaned = df_cleaned.groupby("Year", as_index=False)["DeathRate"].mean()
    
    return df_cleaned

In [59]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = deaths(csv)
cleaned.head(5)

   Year  DeathRate
0  2000   0.829472
1  2001   0.807723
2  2002   0.793016
3  2003   0.756997
4  2004   0.815727

In [60]:
cleaned.to_csv("../csv/cleaned/drug_deaths_cleaned.csv", index=False)