In [8]:
import pandas as pd
import numpy as np

## Drug Seizures

In [15]:
def seizures(df):
    df_cleaned = df.drop(columns=["Region", "Country", "DrugGroup", "DrugName", "Reference year", "msCode"])
    df_cleaned = df_cleaned.groupby("SubRegion", as_index=False)["Kilograms"].sum()
    
    return df_cleaned

In [16]:
csv = pd.read_csv("../csv/drug_seizures.csv")
cleaned = seizures(csv)
cleaned.head(5)

                        SubRegion     Kilograms
0       Australia and New Zealand  3.266503e+05
1                       Caribbean  1.265822e+06
2                 Central America  2.606579e+07
3  Central Asia and Transcaucasia  9.820272e+05
4                     East Africa  4.731681e+06

In [17]:
cleaned.to_csv("../csv/cleaned/seizures_cleaned.csv", index=False)

## Death by drugs

In [18]:
def deaths(df):
    df_cleaned = df.drop(columns=["Code", "Year", "time"])
    
    return df_cleaned

In [19]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = deaths(csv)
cleaned.head(5)

        Entity  Death rate
0  Afghanistan        1.37
1      Albania        0.59
2      Algeria        1.30
3      Andorra        0.09
4       Angola        0.29

In [20]:
cleaned.to_csv("../csv/cleaned/drug_deaths_cleaned.csv", index=False)