In [1]:
import pandas as pd
import numpy as np

## Line chart

In [2]:
def cleaning(df):
    df.loc[df["RussianUkranianWar"] == "< 1", "RussianUkranianWar"] = "0"
    df.loc[df["IsraeliPalestinianWar"] == "< 1", "IsraeliPalestinianWar"] = "0"
    df.loc[df["DrugWar"] == "< 1", "DrugWar"] = "0"

    return df

In [3]:
timeline = pd.read_csv("../csv/timeline_trends.csv")
cleaned = cleaning(timeline)
cleaned.head()

         Week RussianUkranianWar IsraeliPalestinianWar DrugWar
0  2022-01-02                  0                     0       0
1  2022-01-09                  1                     0       0
2  2022-01-16                  3                     0       0
3  2022-01-23                  7                     0       0
4  2022-01-30                  3                     0       0

In [4]:
cleaned.to_csv("../csv/cleaned/timeline_trends_cleaned.csv", index=False)

## Choropleth

In [5]:
def choropleth(df):
    replacements = {
        'United States': 'USA',
        'United Kingdom': 'England',
        'Democratic Republic of Congo': 'Democratic Republic of the Congo',
        'Republic of Congo': 'Republic of the Congo',
        'Tanzania': 'United Republic of Tanzania',
        'Eswatini': 'Swaziland',
        'Guinea-Bissau': 'Guinea Bissau',
        'North Macedonia': 'Macedonia',
        'Serbia': 'Republic of Serbia',
        'Bahamas': 'The Bahamas',
        'Palestine': 'West Bank',
        'Czechia' : 'Czech Republic'
    }
    
    df["Country"] = df["Country"].replace(replacements)

    return df

In [6]:
timeline = pd.read_csv("../csv/map_trends.csv")
cleaned = choropleth(timeline)
cleaned.head()

                    Country RussianUkranianWar IsraeliPalestinianWar DrugWar
0                   Eritrea                91%                    9%     NaN
1           Solomon Islands                79%                   21%     NaN
2          Papua New Guinea                82%                   18%     NaN
3  Central African Republic                90%                   10%     NaN
4                   Liberia                96%                    4%     NaN

In [7]:
cleaned.to_csv("../csv/cleaned/map_trends_cleaned.csv", index=False)

# Connection Map

In [22]:
conflicts = pd.read_csv("../csv/conflicts.csv")

In [23]:
conflicts = conflicts[conflicts["year"] == 2024]
columns_to_keep = ["side_a", "side_b", "type_of_conflict"]

conflicts = conflicts[columns_to_keep]
conflicts["side_a"] = conflicts["side_a"].str.replace('Government of ', '')
conflicts["side_b"] = conflicts["side_b"].str.replace('Government of ', '')

conflicts.head()

              side_a             side_b  type_of_conflict
16             Kenya         Al-Shabaab                 3
60   Myanmar (Burma)                ULA                 3
86             Syria  Syrian insurgents                 4
141           Rwanda          FDLR-FOCA                 3
145         Pakistan                HGB                 3

Note on type_of_conflict:
1. extrasystemic (between a state and a non-state group outside its own territory, where the government side is fighting to retain control of a territory outside the state system).
2. interstate (both sides are states in the Gleditsch and Ward membership system).
3. intrastate (side A is always a government; side B is always a rebel group; there is no involvement of foreign governments with troops, i.e. there is no side_a_2nd or side_b_2nd coded).
4. internationalized intrastate (side A is always a government; side B is always a rebel group; there is involvement of foreign governments with troops, i.e. there is at least ONE side_a_2nd or side_b_2nd coded)

In [24]:
def conflicts_cleaning(df):
    replacements = {
        'DR Congo (Zaire)': 'Democratic Republic of the Congo',
        'Myanmar (Burma)': 'Myanmar',
        'Russia (Soviet Union)': 'Russia',
        'Yemen (North Yemen)': 'Yemen',
        'United Kingdom, United States of America': 'England',
    }
    df['side_a'] = df['side_a'].replace(replacements)
    df['side_b'] = df['side_b'].replace(replacements)
    return df

conflicts = conflicts_cleaning(conflicts)

In [25]:
conflicts.to_csv("../csv/cleaned/conflicts_cleaned.csv", index=False)