## Data used & libraries
[UCDP - Dataset Download Center](https://ucdp.uu.se/downloads/)

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Bar chart

In [ ]:
fatalities = pd.read_csv('../csv/fatalities_israelpalestine.csv')

columns_to_keep = ['side_a_new_id', 'side_b_new_id', 'where_description', 'deaths_a', 'deaths_b', 'deaths_civilians', 'deaths_unknown', 'date_start']
fatalities = fatalities[columns_to_keep]
fatalities.sort_values(by='date_start', inplace=True)
fatalities['year'] = pd.to_datetime(fatalities['date_start']).dt.year   #Extract year from date_start

fatalities.head()

,side_a_new_id,side_b_new_id,where_description,deaths_a,deaths_b,deaths_civilians,deaths_unknown,date_start,year
178224,Government of Israel,Fatah,West Bank,0,0,1,1,01/01/1991 00:00:00,1991
176696,Government of Israel,Hamas,Northern district,1,0,0,1,01/01/2001 00:00:00,2001
177354,Government of Israel,Hamas,Gaza Strip,1,0,0,1,01/01/2008 00:00:00,2008
177926,Government of Israel,Hamas,Gaza Strip,1,9,0,10,01/01/2009 00:00:00,2009
177927,Government of Israel,Hamas,Gaza Strip,0,2,0,2,01/01/2009 00:00:00,2009

In [ ]:
#New dataframe to store total fatalities per side
fatalities_per_side = pd.concat([pd.Series(fatalities['deaths_a'].sum()), pd.Series(fatalities['deaths_b'].sum()), pd.Series(fatalities['deaths_civilians'].sum())], axis=1)
fatalities_per_side.columns = ['Government of Israel', 'Hamas and armed groups', 'Civilians']
fatalities_per_side.index = ['Total']
fatalities_per_side.to_csv('../csv/cleaned/barchart.csv')