## Libraries

In [15]:
import pandas as pd
import numpy as np

## Area chart
Data used: [United Nations - World drug report](https://www.unodc.org/unodc/en/data-and-analysis/world-drug-report-2025-annex.html)

In [16]:
def deaths(df):
    df_cleaned = df.drop(columns=["Code"])
    df_cleaned = df_cleaned.groupby("Year", as_index=False)["DeathRate"].mean()
    
    return df_cleaned

In [17]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = deaths(csv)

cleaned.head()

   Year  DeathRate
0  2000   0.829472
1  2001   0.807723
2  2002   0.793016
3  2003   0.756997
4  2004   0.815727

In [18]:
cleaned.to_csv("../csv/cleaned/areachart.csv", index=False)

## Pictorial unit chart
Data used: [Our World in Data - Drug use disorder death rate](https://ourworldindata.org/grapher/death-rates-from-drug-use-disorders-who)

In [19]:
def top3(df):
    df = df[df["Year"] == 2021]
    df_cleaned = df.drop(columns=["Code"])
    df_cleaned = df_cleaned.groupby("Entity", as_index=False)["DeathRate"].mean()
    df_cleaned = df_cleaned.sort_values("DeathRate", ascending=False).head(3)
    
    return df_cleaned

In [20]:
csv = pd.read_csv("../csv/drug_deaths.csv")
cleaned = top3(csv)

cleaned.head()

             Entity  DeathRate
190   United States      31.75
32           Canada      19.22
189  United Kingdom       8.37

In [21]:
cleaned.to_csv("../csv/cleaned/pictorial.csv", index=False)